body {
     .grid-container {
            
        .copyright {
            grid-column: 1/7;
            grid-row: 5/6;
            text-align: center;
            align-items: center;
            font-family: 'Josefin Sans', serif;
            font-size: 0.9rem;
            font-weight: 300;
            color: white;
            margin-top: 8%;
        }
    }
}