body {

    .grid-container {
        background: url("../images/bg.webp") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; // 6 columns
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; // 5 columns
        grid-gap: 0.5em;

        h1 {
            text-align: center;
            align-items: center;
            grid-column: 3/5;
            grid-row: 2/5;
        }

        #login-form {
            background-color: rgba(255, 255, 255, 0.7);
            grid-column: 4/6;
            grid-row: 2/5;
            text-align: center;
            align-items: center;
            border-radius: 5px;

            img {
                width: 20%;
                margin-top: 3.5%;
            }

            h2 {
                margin-top: 2%;
            }
        
            form {
                #uname {
                    font-family: 'Josefin Sans', serif;
                    font-size: 1rem;
                    height: 11%;
                    width: 70%;
                    margin-top: 4%;
                    padding: 3%;
                    padding-left: 4%;
                    border-radius: 5px;
                }

                select {
                    font-family: 'Josefin Sans', serif;
                    font-size: 1rem;
                    flex: 1;
                    padding: 3%;
                    padding-left: 4%;
                    cursor: pointer;
                }
                /* Remove IE arrow */
                select::-ms-expand {
                    display: none;
                }
                /* Custom Select */
                .select {
                    position: relative;
                    display: flex;
                    width: 70%;
                    height: 11%;
                    line-height: 3;
                    overflow: hidden;
                    margin-top: 3%;
                    margin-left: 15%;
                    border-radius: .25em;
                }
                /* Arrow */
                .select::after {
                content: '\25BC';
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 1em;
                    background: #34495e;
                    cursor: pointer;
                    pointer-events: none;
                    transition: .3s all ease;
                }
                /* Transition */
                .select:hover::after {
                    color: #f2c66d;
                }              

                .button {
                    // grid-column: 4/6;
                    color: white;
                    grid-row: 4/5;
                    text-decoration: none;
                    font-family: 'Josefin Sans', serif;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    background-color: rgb(74, 165, 132);
                    padding: 3.5% 10%;                
                    margin: 4% 30%;
                    cursor: pointer;
                    transition: 0.3s; 
                    border-radius: 50px;
                    overflow: auto;
                }

                .button:hover {
                    background-color: #f2c66d;
                    color: #495868;
                }
            }
        }
    }  
}